.idea
.metadata
.cache-main
.classpath
.project
.settings
*.class
*.orig
*.log
target/
.DS_Store
*.iml
*.ipr
*.iws
scalastyle-output.xml

dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

